body {background-color: gray;}

h1 {color: white; text-align: center; font-family:"Josefin Sans", sans-serif; font-optical-sizing: auto; font-weight: weight; font-style: normal;}

img {height: 260px; right: 260px;}

h3 {font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal; 
color: black; text-align: center;}

h2 {font-family:"Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;}




